{% extends "admin_layout.html" %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow p-4">
        <h3>Add Product</h3>

        <form method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label>Product Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Price</label>
                <input type="number" name="price" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Description</label>
                <textarea name="description" class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label>Category</label>
                <select name="category" class="form-control" required>
                    <option value="">Select Category</option>
                    {% for c in categories %}
                    <option value="{{c.id}}">{{c.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label>Product Image</label>
                <input type="file" name="image" class="form-control" required>
            </div>

            <button class="btn btn-primary w-100">Add Product</button>

        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success mt-3">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
    </div>
</div>

</body>
</html>
{% endblock %}