{% extends "adminmaster.html" %}
{% block content %}
<section>
    <div class="container">
        <div class="text-center">
            <h1>{{action_name}} Category</h1>
        </div>
        <div>
            <form method="POST" action="/manage-category">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            Category:
                        </td>
                        <td>
                            <input type="hidden" name="id" value="{{data_id}}" />
                            <input type="text" name="name" value="{{date_name}}" />
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <input type="submit" value="Submit" />
                        </td>
                    </tr>
                </table>
            </form>
            <div>
                {{message}}
            </div>
        </div>
    </div>
</section>

{% endblock %}